<div class="background-img">
	<p class="top-padding">Here is how your buisness information will be displayed to users:</p>

	<img class="logo" src="<%= @business.avatar %>">

	<p class="profile-text">
		<%= flash[:error] %>
	</p> 

	<%= render "biz_edit" %>

</div>
