<div class="landing-container">
	
	<%= image_tag("logo.png", alt: "Black Gold Logo", class: "landing-logo") %>

	<%= link_to("Users", users_new_path, class: "email-signup-button") %>
	<%= link_to("Businesses", businesses_new_path, class: "email-signup-button") %>

</div>
