body {
	margin: 0;
}

.pushmenu { /*this is the nav*/
	background: #3c3933;
	/*font-family: Arial, Helvetics, sans-serif;*/
	width: 240px;
	height: 100%;
	top: 0;
	z-index: 1000;
	position: fixed;
}

.pushmenu h3 {
	color: #cbbfad;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 20px;
	margin: 0;
	background: #282522;    
	height: 16px;
}

.pushmenu a {
	display: block; /* drops the nav vertically*/
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-decoration: none;
	border-top: 1px solid #56544e;
	border-bottom: 1px solid #312e2a;
	padding: 14px;
}

.pushmenu a:hover {
	background:#00A287;
}

.pushmenu a:active {
	background: #454f5c;
	color: #fff;
}

.pushmenu-left {
	left: -240px;
	padding-top: 75px; 

}

.pushmenu-left.pushmenu-open {
	left: 0;
}

.pushmenu-push {
	overflow-x: hidden;
	position: relative;
	left: 0;
}

.pushmenu-push-toright {
	left: 240px;
}

/*Transition*/
.pushmenu, .pushmenu-push {
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	transition: all 0.3s ease;  
}

nav-list.active {
	background-position: -33px top;
}

.buttonset {
	background: #FFAA00;
	height: 74px;
	/*display: inline-block;*/
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	/*vertical-align: middle;*/
	/*padding: 30px;*/

	/*padding: 15px 20px 20px;*/
}


.open-menu {
	width: 8.5vh;
	margin: 21px;
	/*padding-left: 4.7vh;*/
	/*display: inline-block;*/
	/*vertical-align: middle;*/
}

.close-menu {
	width: 6.5vh;
	margin: 15px;
}

.search-vector {
	width: 6.5vh;
	float: right;
	margin: 15px;
}