// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Default is mobile styling*/

html, body {
	margin: 0;
	height: 100%;
}

.landing-container {
	background: image-url("pyramids.png");
	background-repeat: no-repeat;
	background-size: cover; 
	background-position: 63% 40%;
	height: 100vh;
}

.landing-logo {
	display: block;
	margin: 0 auto;
	width: 65%;
	padding-top: 150px;
	margin-bottom: 70px;
}

.email-signup-button {
	background-color: #FFAA00;
	text-decoration: none;
	display: block;
	border-radius: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 40px;
	color: white;
	font-size: 15pt;
	margin-bottom: 40px;
	margin-left: 10vh; 
	margin-right: 10vh;
	text-align: center;
}	

/* Desktops and Laptops Styling*/
@media only screen
and (min-width : 780px) {

	.landing-container {
		background: image-url("pyramids.png");
		background-repeat: no-repeat;
		background-position: 63% 40%;
		height: 100vh;
	}

	.landing-logo {
		display: block;
		margin: 0 auto;
		width: 30%;
		padding-top: 50px;
		margin-bottom: 160px;
	}

}