.top-padding {
	padding-top: 14vh;
	text-align: center;
	font-size: 2.5vh;
	color: white;
}

.background-img {
	background: url("landing-background.JPG");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
	background-position: 63% 40%;
	position: relative;
	/*height: 100%;*/
	/*margin:0 auto;*/
	/*text-align: center;*/
	padding-bottom: 30px;
}

.logo {
	display: block;
	width: 25vh;
	margin-left: auto;
	margin-right: auto;
}

.profile-update {
	text-align: center;
}

.profile-text {
	text-align: center;
	color: white;
		font-size: 2.5vh;

}